<form action="" class="login-form" [formGroup]="loginForm">
  <ng-container *ngIf="status">
    <p *ngIf="!status.statusOk && showError" class="error">{{status.error}}</p>
    <p *ngIf="status.statusOk" class="name">Текущий пользователь: {{status.name}}</p>
  </ng-container>

  <mat-form-field>
    <mat-label>Логин</mat-label>
    <input
      matInput
      name="login"
      formControlName="login"
    >
    <mat-error *ngIf="login?.hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <p *ngIf="showTimer" class="timer">
    Повторная отправка доступна через {{timer}} сек.
  </p>

  <button
    mat-button
    type="submit"
    (click)="send()"
    [disabled]="!loginForm.valid || disabledLoginBtn"
  >
    Отправить
  </button>
</form>
